In [1]:
#D2-3. Import libraries and the new customer data set as a dataframe.
import pandas as pd
import numpy as np
import os

path= r'/Users/katep/08-2023 Instacart Basket Analysis'
df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col=False)

In [2]:
ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged3.pkl'))

In [3]:
ords_prods.shape

(32433030, 26)

In [28]:
ords_prods.columns

Index(['Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', 'Unnamed: 0_y',
       'product_name', 'aisle_id', 'department_id', 'prices', '_merge',
       'price_range', 'busiest_day', 'Busiest_days', 'busiest_period_of_day',
       'max_order', 'loyalty_flag', 'avg_price', 'spending_flag',
       'median_days_since', 'order_frequency_flag'],
      dtype='object')

In [3]:
ords_prods['user_id'].dtype

dtype('int64')

In [4]:
#D4. Wrangle the data.
df_customer.rename(columns={'n_dependants':'Num_Dependants'}, inplace = True)
df_customer.rename(columns={'fam_status':'Marital_Status'}, inplace = True)

In [5]:
#D5. Complete the fundamental data quality and consistency checks.
df_customer.describe()

             user_id            Age  Num_Dependants         income
count  206209.000000  206209.000000   206209.000000  206209.000000
mean   103105.000000      49.501646        1.499823   94632.852548
std     59527.555167      18.480962        1.118433   42473.786988
min         1.000000      18.000000        0.000000   25903.000000
25%     51553.000000      33.000000        0.000000   59874.000000
50%    103105.000000      49.000000        1.000000   93547.000000
75%    154657.000000      66.000000        3.000000  124244.000000
max    206209.000000      81.000000        3.000000  593901.000000

In [6]:
df_customer.dtypes

user_id            int64
First Name        object
Surnam            object
Gender            object
STATE             object
Age                int64
date_joined       object
Num_Dependants     int64
Marital_Status    object
income             int64
dtype: object

In [7]:
#Check any mixed data type in a column.
for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)

First Name

In [17]:
df_customer['First Name'].dtype

dtype('O')

In [18]:
df_customer['First Name']

0          Deborah
1         Patricia
2          Kenneth
3         Michelle
4              Ann
            ...
206204        Lisa
206205      Jeremy
206206       Doris
206207        Rose
206208     Cynthia
Name: First Name, Length: 206209, dtype: object

In [8]:
#Convert mixed-type data
df_customer['First Name'] = df_customer['First Name'].astype('str')

In [9]:
# Check missing values
df_customer.isnull().sum()

user_id           0
First Name        0
Surnam            0
Gender            0
STATE             0
Age               0
date_joined       0
Num_Dependants    0
Marital_Status    0
income            0
dtype: int64

In [10]:
# Check duplicates
df_cus_dups = df_customer[df_customer.duplicated()]

In [11]:
df_cus_dups

Empty DataFrame
Columns: [user_id, First Name, Surnam, Gender, STATE, Age, date_joined, Num_Dependants, Marital_Status, income]
Index: []

In [12]:
#D6. Combine your customer data with the rest of your prepared Instacart data.
df_combine_cus_rest= df_customer.merge(ords_prods, on = 'user_id')

In [13]:
#D8. Export this new dataframe as a pickle file. 
df_combine_cus_rest.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'cus_ords_prods.pkl'))